CHANGELOG.md
README.md
LICENSE
.gitignore
.eslintrc.json
tsconfig.json
tsconfig.panel.json
tsconfig.extension.json
tsconfig.test.json
tsconfig.web.json
webpack.config.js
package-lock.json
package.json

// Directories
l10n
.vscode
.dist
.out
.github
out